@model Exception

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>@Model.Message</h2>
    </hgroup>
</body>
<div>
    @Html.ActionLink("Back to List", "Index", "Users")
</div>

</html>
