USE [master]
GO
/****** Object:  Database [GuessThatPokemon]    Script Date: 5/7/2023 8:57:24 PM ******/
CREATE DATABASE [GuessThatPokemon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuessThatPokemon', FILENAME = N'C:\Users\nickw\GuessThatPokemon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuessThatPokemon_log', FILENAME = N'C:\Users\nickw\GuessThatPokemon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuessThatPokemon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuessThatPokemon]
GO
/****** Object:  Table [dbo].[Abilities]    Script Date: 5/7/2023 8:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abilities](
	[id_abi] [int] IDENTITY(1,1) NOT NULL,
	[abi_name] [nchar](50) NOT NULL,
	[abi_effect] [nchar](250) NOT NULL,
 CONSTRAINT [PK_Abilities] PRIMARY KEY CLUSTERED 
(
	[id_abi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encounters]    Script Date: 5/7/2023 8:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounters](
	[id] [uniqueidentifier] NOT NULL,
	[dex_num] [int] NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[type_1] [nvarchar](25) NOT NULL,
	[type_2] [nvarchar](25) NULL,
	[ability] [nvarchar](25) NOT NULL,
	[ability_desc] [nvarchar](150) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[sprite_path] [nvarchar](150) NOT NULL,
	[caught] [bit] NOT NULL,
 CONSTRAINT [PK_Encounters] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 5/7/2023 8:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[id] [uniqueidentifier] NOT NULL,
	[player_id] [uniqueidentifier] NOT NULL,
	[pokemon_encounter_id] [uniqueidentifier] NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[completed] [bit] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 5/7/2023 8:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[id_location] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[id_location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](10) NOT NULL,
	[LogMessage] [nvarchar](max) NOT NULL,
	[Exception] [nvarchar](max) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[dex_number] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[type_1_id] [int] NOT NULL,
	[type_2_id] [int] NULL,
	[ability_id] [int] NOT NULL,
	[sprites_id] [int] NOT NULL,
 CONSTRAINT [PK_Pokemon] PRIMARY KEY CLUSTERED 
(
	[dex_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon_Locations]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon_Locations](
	[id_pkmn_spawn] [int] IDENTITY(1,1) NOT NULL,
	[pokemon_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
 CONSTRAINT [PK_Pokemon_Locations] PRIMARY KEY CLUSTERED 
(
	[id_pkmn_spawn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sprites]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprites](
	[id_sprite] [int] IDENTITY(1,1) NOT NULL,
	[sprite_path] [nvarchar](50) NOT NULL,
	[shape_path] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sprites] PRIMARY KEY CLUSTERED 
(
	[id_sprite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTable]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTable](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[salt] [nvarchar](max) NOT NULL,
	[signup_time] [datetime] NOT NULL,
 CONSTRAINT [PK_UsersTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abilities] ON 

INSERT [dbo].[Abilities] ([id_abi], [abi_name], [abi_effect]) VALUES (1, N'Overgrow                                          ', N'Powers up Grass-type moves in a pinch.                                                                                                                                                                                                                    ')
INSERT [dbo].[Abilities] ([id_abi], [abi_name], [abi_effect]) VALUES (2, N'Blaze                                             ', N'Powers up Fire-type moves in a pinch.                                                                                                                                                                                                                     ')
INSERT [dbo].[Abilities] ([id_abi], [abi_name], [abi_effect]) VALUES (3, N'Torrent                                           ', N'Powers up Water-type moves in a pinch.                                                                                                                                                                                                                    ')
GO
SET IDENTITY_INSERT [dbo].[Abilities] OFF
GO
INSERT [dbo].[Encounters] ([id], [dex_num], [name], [type_1], [type_2], [ability], [ability_desc], [location], [sprite_path], [caught]) VALUES (N'bd6d8509-b538-4ac8-a68c-00784d822b3e', 56, N'Mankey', N'Fighting            ', N'', N'Vital Spirit             ', N'Prevents the Pokémon from falling asleep.                                                                                                             ', N'Route 7                                           ', N'./css/sprites/56.png', 0)
INSERT [dbo].[Encounters] ([id], [dex_num], [name], [type_1], [type_2], [ability], [ability_desc], [location], [sprite_path], [caught]) VALUES (N'f57633ad-94f4-41a4-a3fd-0170512c543e', 117, N'Seadra', N'Water               ', N'', N'Poison Point             ', N'Contact with the Pokémon may poison the attacker.                                                                                                     ', N'Seafoam Islands                                   ', N'./css/sprites/117.png', 0)
INSERT [dbo].[Encounters] ([id], [dex_num], [name], [type_1], [type_2], [ability], [ability_desc], [location], [sprite_path], [caught]) VALUES (N'69ab06fd-f10d-4f16-8f9e-02471b108d44', 71, N'Victreebel', N'Grass               ', N'Poison              ', N'Chlorophyll              ', N'Boosts the Pokémon''s Speed in sunshine.                                                                                                               ', N'Evolution', N'./css/sprites/71.png', 0)
GO
INSERT [dbo].[Games] ([id], [player_id], [pokemon_encounter_id], [timestamp], [completed]) VALUES (N'e09108ea-2ff3-4d64-9701-01c95c9f8eb9', N'1bc99f42-c650-4f70-89b2-111607ce6848', N'1bdc98f4-f0a2-4df7-9098-7c88bf0788d7', CAST(N'2023-05-06T16:21:04.967' AS DateTime), 0)
INSERT [dbo].[Games] ([id], [player_id], [pokemon_encounter_id], [timestamp], [completed]) VALUES (N'99d549b3-1d72-4c64-8d29-038078717f24', N'1bc99f42-c650-4f70-89b2-111607ce6848', N'b2ead802-e9c3-4c79-9234-30e83b271ed6', CAST(N'2023-05-06T16:24:45.237' AS DateTime), 0)
INSERT [dbo].[Games] ([id], [player_id], [pokemon_encounter_id], [timestamp], [completed]) VALUES (N'5d8ff98a-30ca-4678-935c-05b73a4bb9a7', N'1bc99f42-c650-4f70-89b2-111607ce6848', N'f57633ad-94f4-41a4-a3fd-0170512c543e', CAST(N'2023-05-06T16:43:53.590' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([id_location], [location_name]) VALUES (1, N'Route 1                                           ')
INSERT [dbo].[Locations] ([id_location], [location_name]) VALUES (2, N'Route 2                                           ')
INSERT [dbo].[Locations] ([id_location], [location_name]) VALUES (3, N'Route 3                                           ')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([id], [LogLevel], [LogMessage], [Exception]) VALUES (1, N'Warning', N'Failed login attempt from ::1', NULL)
INSERT [dbo].[Log] ([id], [LogLevel], [LogMessage], [Exception]) VALUES (2, N'Warning', N'Sucessful login by NEisner at 5/5/2023 8:28:31 PM', NULL)
INSERT [dbo].[Log] ([id], [LogLevel], [LogMessage], [Exception]) VALUES (3, N'Warning', N'Sucessful login by NEisner at 5/5/2023 8:31:39 PM', NULL)
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Pokemon] ON 

INSERT [dbo].[Pokemon] ([dex_number], [name], [type_1_id], [type_2_id], [ability_id], [sprites_id]) VALUES (1, N'Bulbasaur', 2, 13, 1, 1)
INSERT [dbo].[Pokemon] ([dex_number], [name], [type_1_id], [type_2_id], [ability_id], [sprites_id]) VALUES (2, N'Ivysaur', 2, 13, 1, 2)
INSERT [dbo].[Pokemon] ([dex_number], [name], [type_1_id], [type_2_id], [ability_id], [sprites_id]) VALUES (3, N'Venusaur', 2, 13, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Pokemon] OFF
GO
SET IDENTITY_INSERT [dbo].[Pokemon_Locations] ON 

INSERT [dbo].[Pokemon_Locations] ([id_pkmn_spawn], [pokemon_id], [location_id]) VALUES (1, 16, 1)
INSERT [dbo].[Pokemon_Locations] ([id_pkmn_spawn], [pokemon_id], [location_id]) VALUES (2, 19, 1)
INSERT [dbo].[Pokemon_Locations] ([id_pkmn_spawn], [pokemon_id], [location_id]) VALUES (3, 19, 2)
GO
SET IDENTITY_INSERT [dbo].[Pokemon_Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Sprites] ON 

INSERT [dbo].[Sprites] ([id_sprite], [sprite_path], [shape_path]) VALUES (1, N'./css/sprites/1.png', N'./css/sprites/1_shape.png')
INSERT [dbo].[Sprites] ([id_sprite], [sprite_path], [shape_path]) VALUES (2, N'./css/sprites/2.png', N'./css/sprites/2_shape.png')
INSERT [dbo].[Sprites] ([id_sprite], [sprite_path], [shape_path]) VALUES (3, N'./css/sprites/3.png', N'./css/sprites/3_shape.png')
GO
SET IDENTITY_INSERT [dbo].[Sprites] OFF
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([id_type], [type_name]) VALUES (1, N'Fire                ')
INSERT [dbo].[Types] ([id_type], [type_name]) VALUES (2, N'Grass               ')
INSERT [dbo].[Types] ([id_type], [type_name]) VALUES (3, N'Water               ')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
INSERT [dbo].[UsersTable] ([id], [username], [password], [salt], [signup_time]) VALUES (N'1bc99f42-c650-4f70-89b2-111607ce6848', N'NEisner', N'c917f29a1e32c2091b75b53ecde88aed38bd70c6e281cd39a04644c6c01823b60f23aef21f4a8e637395baa74c240adfd884dca5f8974fdf9f078138373b8c45', N'hKeqEsYQTKCX40mtJi6CqUW4XtmepcX7Dm1WQWrq1vitdR1a7C0iWHPq6hwDxLl8', CAST(N'2023-05-06T12:32:50.213' AS DateTime))
INSERT [dbo].[UsersTable] ([id], [username], [password], [salt], [signup_time]) VALUES (N'908e5083-7c23-4368-8eba-7868b72051f5', N'JohnDoe', N'f49e0c1ad711ec3ca201e6b29aa9b83970c347e3349b8056bc3241a5f0fbc50e7a0135c52cb4296970d05f0e6275757d2aecdc4fad3f2ee2f284195d8a200344', N'XMJa8WbO2RoC7mFErkXKmPgoH0Q4HsNduyvY6wFhmNEaxj67GE9gZp1gVSKEZNgG', CAST(N'2023-05-07T17:43:57.903' AS DateTime))
INSERT [dbo].[UsersTable] ([id], [username], [password], [salt], [signup_time]) VALUES (N'547c49ab-ce90-46a8-b965-d681a3e1ebe5', N'TeamRocket', N'b424faae44bf62fbe7a1de5aeb1a33a38c03974d864e4ef9ee1d5cf159cdc5ac5c2c6c2468fdd588b0fdc3d498d13f8aaa7f635096831ac116af6517ff7abf63', N'HXBv6Ye3NZYo8HYKtWDoRjIVIEM27n8mbz7lMjak52fzjKmrNRyLdqw2C0bxh5yW', CAST(N'2023-05-06T12:35:45.523' AS DateTime))
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Encounters] FOREIGN KEY([pokemon_encounter_id])
REFERENCES [dbo].[Encounters] ([id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Encounters]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_UsersTable] FOREIGN KEY([player_id])
REFERENCES [dbo].[UsersTable] ([id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_UsersTable]
GO
ALTER TABLE [dbo].[Types]  WITH CHECK ADD  CONSTRAINT [FK_Types_Types] FOREIGN KEY([id_type])
REFERENCES [dbo].[Types] ([id_type])
GO
ALTER TABLE [dbo].[Types] CHECK CONSTRAINT [FK_Types_Types]
GO
/****** Object:  StoredProcedure [dbo].[AbilitiesInsertRecord]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 4/29/23
-- Description:	Inserts passed in ability name and effect in the abilities table
-- =============================================
CREATE PROCEDURE [dbo].[AbilitiesInsertRecord] 
	@Name nchar(50),
	@Effect nchar(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Abilities]([abi_name],[abi_effect])
	VALUES(@Name,@Effect);
END
GO
/****** Object:  StoredProcedure [dbo].[EncountersGetAllByUserId]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EncountersGetAllByUserId]
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * FROM Encounters
	INNER JOIN Games ON pokemon_encounter_id = Encounters.id 
	WHERE Games.player_id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[EncountersGetRecordById]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EncountersGetRecordById] 
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Encounters WHERE id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EncountersInsertRecord]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	Insert record into Encounters table
-- =============================================
CREATE PROCEDURE [dbo].[EncountersInsertRecord]
	-- Add the parameters for the stored procedure here
	@DexNum int,
	@Name nvarchar(25),
	@Type1 nvarchar(25),
	@Type2 nvarchar(25),
	@Ability nvarchar(25),
	@AbilDesc nvarchar(150),
	@Location nvarchar (50),
	@Sprite nvarchar(150),
	@Caught bit,
	@ReturnValue uniqueidentifier OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SET @ReturnValue = NEWID()

	INSERT INTO Encounters([id], [dex_num], [name], [type_1], [type_2], [ability], [ability_desc], [location], [sprite_path], [caught])
	VALUES(@ReturnValue, @DexNum, @Name, @Type1, @Type2, @Ability, @AbilDesc, @Location, @Sprite, @Caught);

END
GO
/****** Object:  StoredProcedure [dbo].[EncountersUpdateRecordById]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[EncountersUpdateRecordById]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier,
	@DexNum int,
	@Name nvarchar(25),
	@Type1 nvarchar(25),
	@Type2 nvarchar(25),
	@Ability nvarchar(25),
	@AbilDesc nvarchar(150),
	@Location nvarchar (50),
	@Sprite nvarchar(150),
	@Caught bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	UPDATE Encounters Set dex_num = @DexNum, type_1 = @Type1, type_2 = @Type2, ability = @Ability, ability_desc = @AbilDesc, location = @Location, sprite_path = @Sprite, caught = @Caught
	Where id = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[GamesGetRecordById]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[GamesGetRecordById]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Games WHERE id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GamesInsertRecord]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GamesInsertRecord]
	-- Add the parameters for the stored procedure here
	@PlayerId uniqueidentifier,
	@EncounterId uniqueidentifier,
	@Timestemp datetime,
	@Completed bit,
	@ReturnValue uniqueidentifier OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @ReturnValue = NEWID()

	INSERT INTO Games([id],[player_id],[pokemon_encounter_id],[timestamp],[completed])
	VALUES(@ReturnValue, @PlayerId, @EncounterId, @Timestemp, @Completed);
END
GO
/****** Object:  StoredProcedure [dbo].[GamesUpdateRecordById]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	Updates the record matching the id
-- =============================================
CREATE PROCEDURE [dbo].[GamesUpdateRecordById]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier, 
	@PlayerId uniqueidentifier,
	@EncounterId uniqueidentifier,
	@Timestemp datetime,
	@Completed bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Games Set player_id = @PlayerId, pokemon_encounter_id = @EncounterId, timestamp = @Timestemp, completed = @Completed WHERE id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPokemonRecordById]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 4/30/23
-- Description:	Gets pokemon from db
-- =============================================
CREATE PROCEDURE [dbo].[GetPokemonRecordById]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	* 
	FROM Pokemon
	LEFT JOIN Types as T1 ON Pokemon.type_1_id = T1.id_type
	LEFT JOIN Types as T2 ON Pokemon.type_2_id = T2.id_type
	LEFT JOIN Abilities on Pokemon.ability_id = Abilities.id_abi
	LEFT JOIN Sprites on Pokemon.sprites_id = Sprites.id_sprite
	Where Pokemon.dex_number = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPokemon]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertPokemon]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(50),
	@Type_1_id int,
	@Type_2_id int,
	@Abil_id int,
	@sprite_Id int


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT into Pokemon([name],[type_1_id],[type_2_id],[ability_id],[sprites_id])
	VALUES(@Name, @Type_1_id, @Type_2_id,@Abil_id, @sprite_Id);
END
GO
/****** Object:  StoredProcedure [dbo].[PokemonLocationInsertRecord]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/2/23
-- Description:	Insert Pokemon Location record into DB
-- =============================================
CREATE PROCEDURE [dbo].[PokemonLocationInsertRecord]
	-- Add the parameters for the stored procedure here
	@PokemonId int,
	@LocationId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Pokemon_Locations([pokemon_id],[location_id])
	VALUES(@PokemonId, @LocationId);
END
GO
/****** Object:  StoredProcedure [dbo].[PokemonLocationsGetById]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/3/23
-- Description:	Get all location for specified pokemono
-- =============================================
CREATE PROCEDURE [dbo].[PokemonLocationsGetById]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Pokemon_Locations 
	INNER JOIN Locations ON location_id = Locations.id_location
	WHERE pokemon_id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SpritesInsertRecord]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 4/29/23
-- Description:	Takes in a filepath string for the normal and outline sprite and inserts them into the sprite table
-- =============================================
CREATE PROCEDURE [dbo].[SpritesInsertRecord]
-- Add the parameters for the stored procedure here
	@Id int,
	@Sprite_File_Path nvarchar(50),
	@Shape_File_Path nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Sprites Set sprite_path = @Sprite_File_Path, shape_path = @Shape_File_Path WHERE id_sprite = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[UsersGetByUsername]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nick Eisner
-- Create date: 5/2/23
-- Description:	Gets users matching the username parameter
-- =============================================
CREATE PROCEDURE [dbo].[UsersGetByUsername]
	@Username nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

    
	SELECT * FROM UsersTable WHERE username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[UsersInsertRecord]    Script Date: 5/7/2023 8:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		nick Eisner
-- Create date: 5/2/23
-- Description:	Inserts a user into the database
-- =============================================
CREATE PROCEDURE [dbo].[UsersInsertRecord]
	-- Add the parameters for the stored procedure here
	@Username nvarchar(max),
	@Password nvarchar(max),
	@SignupTime datetime,
	@Salt nvarchar(max),
	@ReturnValue uniqueidentifier OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @ReturnValue = NEWID()

	INSERT INTO UsersTable([id],[username],[password],[salt],[signup_time])
	VALUES(@ReturnValue, @Username, @Password,@Salt,@SignupTime);

	
END
GO
USE [master]
GO
