@{
    ViewBag.Title = "About";
}



<head>
    <title>Spotify Web Playback SDK Quick Start</title>
</head>
<body>
    <h1>Spotify Web Playback SDK Quick Start</h1>
    <button id="togglePlay">Toggle Play</button>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQBqEiUHVytVeMlpMUbkEqRFslLnQC0b5QOACdLct1lvPPDtJRLwvyi3fCGhs7eEflw69iC-dkOocFPgAH2NVRNTE3zwJHr8JyvhHpTY1KuTo041_TELKi8lkkp3uckz3RAmv4fTZOQnMDBhvLw6zFjJonjqP2ZzH-fsQZWT8V-uginYEsCOK_N0ZafoqKV6EXdPz83DzuO0D1076oiI1rdlcmxq6rKqyHXzgak6fGginehFAL688rDKUEi-aTB7wy5cJ7OFWdyoc445ugap7jOxfBDmJJXYFdCbCIU84-9gkmICLuLZm_U2y4WyY1JtCGiTs_iJRZwtbVQWIAjtd1M';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function () {
                player.togglePlay();
            };

            player.connect();
        }
    </script>
</body>

