﻿@{
    ViewData["Title"] = "Credits";
}
<style>
    body {
        background-color: white;
        background-attachment: fixed;
        font-family: Tahoma, Verdana, sans-serif;
    }

    .center {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        max-width: min(100%, 70ch);
    }
</style>

<main class="center">
    <h1 class="center">@ViewData["Title"]</h1>
    <p>
        This project was originally created at <b>Columbia College Chicago</b> under the instruction of <b>Leo Hazou</b> in the class <b>Application Design</b> in Spring of 2023.
    </p>
    <p>
        This project was originally created by:
        <ul>
            <li>Nick Eisner</li>
        </ul>
    </p>

    <p>
        <b>Pokémon and Pokémon character names are trademarks of Nintendo.</b>
    </p>

    <p>
        Pokemon data was gathered from Pokeapi which is a free and open to use api. (<a href="https://pokeapi.co/docs/v2#fairuse">Fair Use Policy</a>) The data gathered was put into spreadsheets by myself and turned into the sql database that I use for the Pokemon in this project.
        Sprites were also gathered from the Pokeapi, blacked out "outline sprites" are the sprites present for the Pokemon on Pokeapi which I went into Photoshop and turned black.
    </p>
</main>